:root {
  --red: #d14d72;
  --primary-contrast: #ffabab;
  --secondary-contrast: #fcc8d1;
  --white: #fef2f4;
}

body {
  font-family: "Poppins";
  margin: 0;
  background-color: var(--primary-contrast);
}

nav {
  display: flex;
  padding-top: 16px;
  padding-bottom: 10px;
  flex-direction: row;
  height: 50px;
  background-color: var(--secondary-contrast);
  box-shadow: 1px 2px 1px #888888;
  width: 100%;
}

::placeholder {
  font-size: 15px;
  font-weight: 500;
}
